<div class="home">
  <div class="bg_rojo">
    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" class="displaynonemovil position_a w-100">
      <img class="mb-3 ml-3" width="180" src="../../assets/imagenes/login/logo_idperu_rojo.svg" alt=""/>
    </div>

    <!-- VENTANA DE CIERRE  -->
    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" class="pst_a w-100">
      <p class="count">
        <mat-icon style="margin-right: 3px;">watch_later</mat-icon>
        Esta ventana se cerrará en 118 segundos
      </p>
    </div>


    <div fxFlex="66.666667%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="60%" class=" pad-0 home-section clip-home">
      <div class="contenido l" fxLayout="row" fxLayoutAlign="center center">
        <form autocomplete="off" fxLayout="column" fxLayoutAlign="start stretch" fxFlex.xs="90" fxFlex="400px">
          <div class="pdg-10"></div>
          <ng-container>
            <div class="displaynonedesktop" fxLayoutAlign="center center">
              <img class=" ml-3" width="180" src="../../assets/imagenes/login/logo_idperu_rojo.svg" alt=""/>
            </div>
          </ng-container>
          <div class="pdg-10"></div>
          <h3 class="mb-3">Inserta el DNIe en el dispositivo lector</h3>
          <img src="../../assets/imagenes/lector-de-tarjetas.png" alt="" class="w-40 img-fluid mb-0">
          <div>
            <p style="margin-top: 1rem;margin-bottom: 0;" class=" cgris">Para poder utilizar el DNIe, necesitas
              tener instalado el plugin de
              <a target="_blank">
                <b>
                  ClickOnce
                </b>
              </a>
            </p>
            <div style="margin-bottom: 1rem;margin-top: 1rem;" class="col-lg-12 col-md-4 mb-1">
              <section class="example-section">
                <mat-checkbox class="colorradio">He instalado el plugin</mat-checkbox>
              </section>

            </div>
          </div>
          <div class="mbt-3">
            <small class="mb-1 cgris">Si tienes problemas con este proceso de autenticación, prueba con la
              versión <a>
                <b>
                  legacy
                </b>
              </a>.
            </small>
          </div>
          <ng-container>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button type="button" mat-flat-button color="primary" fxFlex>
                CONTINUAR
              </button>
            </div>
            <div class="pdg-5"></div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button type="button" mat-stroked-button color="primary" fxFlex>CANCELAR</button>
            </div>
          </ng-container>

          <div class="pdg-10"></div>

        </form>
      </div>
    </div>
    <div fxFlex="33.333333%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.md="40%"
         class=" bg-color-15  pad-0 none-992 bg-img">
      <div class="info clearfix">
        <img src="../../assets/imagenes/token.png" alt="logo" class="w-100 img-fluid"/>
      </div>
    </div>
  </div>
  <a href="#" class="logofixed">
    <img style="width: 90%" class="imgfixedrojo img-fluid" src="../../assets/imagenes/login/gob.pe.svg" alt="logo"/>

  </a>
</div>
