<mat-drawer-container class="example-container contenido">
  <mat-drawer #drawer fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" class="example-sidenav"
    fxLayout="column" fxLayoutAlign="start stretch">
    <div [routerLink]="['/main']" class="logo pdg-20" fxLayout="row" fxLayoutAlign="center center">
      <img class="img-fluid" width="150" src="../../assets/imagenes/login/gob.pe.rojo.png" alt="" />
    </div>
    <mat-selection-list #shoes [multiple]="false">


      <div class="contenedor">

        <div class="justify-center pdlr">
           <img  class="img-fluid ml" width="100" src="assets/images/user.png" alt="">
        </div>
        <div class="contenedorbody">
           <h4  class="text-body">Miguel Pazo</h4>
           <button class="button_mb" mat-raised-button color="primary">
              <mat-icon>logout</mat-icon>
              Cerrar Sesión
           </button>
        </div>
     </div>



      <mat-list-option *ngFor="let item of menuItems" [routerLink]="[item.link,appId]" routerLinkActive="active"
        class="border hoveritem">
        <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
        <div mat-line>{{item.title}}</div>
      </mat-list-option>

      <div style="margin-top: 20px;">
        <div style="padding: 0 22px;" mat-line>Servicios</div>
        <hr>
      </div>
      <mat-list-option *ngFor="let item of serviceItems" [routerLink]="[item.link,appId]" routerLinkActive="active"
        class="border hoveritem">
        <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
        <div mat-line>{{item.title}}</div>
      </mat-list-option>
  
    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content>
    <app-header [drawer]="drawer" [drawer1]="drawer1"></app-header>
    <div class="pdg-20">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
  <mat-drawer #drawer1 fixedInViewport="true" [attr.role]="(isHandset1$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset1$ | async) ? 'over' : 'side'" [opened]="!(isHandset1$ | async)" class="example-sidenav"
    fxLayout="column" fxLayoutAlign="start stretch" position="end">
    <mat-list>
      <div mat-subheader>Folders</div>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>{{folder.name}}</div>
        <div mat-line> {{folder.updated | date}} </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Notes</div>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>{{note.name}}</div>
        <div mat-line> {{note.updated | date}} </div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>