.media p {
  margin-bottom: 0;
  overflow-wrap: anywhere;
  margin-top: 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 0rem;
  background-color: #fff;

}


.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}
.media{
align-items: center;
  flex-wrap: wrap;
  display: flex;
}
.media_info{
display: flex;
align-items: flex-start;
flex-wrap: wrap;
}

.list-group-item {
  border-left-width: 0;
  border-right-width: 0;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.end{
  font-size: 60px!important;

    display: flex;

    justify-content: flex-end;
}

.media-item{
  place-content:end!important;
}
@media screen and (max-width: 767px) {
.media-item{
  justify-content: center!important;
  display: flex;

}
}
