

.img-fluid {
	max-width: 100% !important;
	height: auto;
}

.w-50 {
	width: 50%!important;
}

.mb-3,
.my-3 {
	margin-bottom: 1rem!important;
}
.ml-3{
  margin-left: 1rem;
}
.logofixed {
	position: absolute;
	bottom: 0px;
	z-index: 999999;
	right: 0;
	text-align: end;
	padding: 20px;
}

.w-100 {
	width: 100%!important;
}





.cgris {
	color: #3a3a3a;
}

.logofixed {
	position: absolute;
	bottom: 0px;
	z-index: 999999;
	right: 0;
	text-align: end;
}

.logofixed .imgfixedrojo {
	width: 27%;
	padding: 20px;
}






body {
	font-family: 'Roboto', sans-serif;
}



.img-fluid {
	max-width: 100% !important;
	height: auto;
}



.home {
	background: #FAFAFA;
}

.home .home-section {
	min-height: 100vh;
	position: relative;
	text-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
	/* background: url(../imagenes/76.png);*/
	background: #edf0f4;
	background-repeat: no-repeat;
	background-size: cover;
}

.home .home-inner {
	max-width: 50%;
	width: 100%;
	text-align: center;
	background: #e0e0e000;
}




.home .pad-0 {
	padding: 0;
}

.home .home-section h3 {
	margin: 0 0 0px;
	font-size: 20px;
	font-weight: 400;
	color: #3a3a3a;
}

.home .logo img {
	height: 90px;
}





@media (max-width: 1024px) {


	.home .home-inner {
		max-width: 563px;
	}
}


@media (max-width: 992px) {

	.home .home-section {
		width: 100%;
	}

	.none-992 {
		display: none !important;
	}
}

@media (max-width: 991px) {

	.mt-md-6 {
		margin-top: 6rem!important;
	}



	.home .home-inner {
		margin: 0 15px;
	}

	.w-50 {
		width: 80%!important;
	}
}

@media (max-width: 992px) {
	.none-992 {
		display: none !important;
	}
}

@media (max-width: 450px) {
	.margintop {
		margin-bottom: 75px!important;
	}

}




/** MEDIA **/




@media (max-width: 992px) {
	.none-992 {
		display: none!important;
	}
}

