<div class="home">
  <div >
     <div
        fxFlex="100%"
        fxFlex.xs="100%"
        fxFlex.sm="100%"
        class="position_a w-100 displaynonemovil"
        >
        <img

           width="180"
           src="../../assets/imagenes/login/logo_idperu_rojo.svg"
           alt=""
           />
     </div>

     <div
        fxFlex="100%"
        fxFlex.xs="100%"
        fxFlex.sm="100%"
        fxFlex.md="100%"
        class=" pad-0 home-section clip-home"
        >
        <div class="home-inner">
          <ng-container>
            <div class="displaynonedesktop"  fxLayoutAlign="center center">
               <img   width="180" src="../../assets/imagenes/login/logo_idperu_rojo.svg" alt="" />
            </div>
         </ng-container>
           <img
              src="../../assets/imagenes/expirado.png"
              alt=""
              class="w-50 img-fluid mb-3 mt-2"
              />
           <h1 class="mb-3 cgris">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
           </h1>
           <ng-container>

            <div class="pdg-5"></div>
            <div fxLayout="row" fxLayoutAlign="center center" >
              <button fxFlex.xl="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%" type="button" mat-stroked-button color="primary" >CANCELAR</button>
            </div>
          </ng-container>

           <div  fxLayout="row" class="pdg-10"></div>

        </div>
     </div>

  </div>
  <a href="#" class="logofixed displaynonemovil">
  <img
     style="width: 180px"
     class="imgfixedrojo img-fluid"
     src="../../assets/imagenes/login/gob.pe.rojo.svg"
     alt="logo"
     />

  </a>
</div>

